<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>checkmark</mat-icon>
  </button>
  <span>2PF Meza Garcia</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <section class="side-section">
  <button mat-flat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/todos">Todos los alumnos</button>
  <button mat-flat-button routerLinkActive="active" routerLink="/crear" [routerLinkActiveOptions]="{exact:true}">Crear Alumno</button>
    </section>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 5%;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
